<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front</title>
    <link rel="stylesheet" type="text/css" href="../css/front_style.css" />
    <script src="../js/front_page.js" defer></script>
</head>
<body>
    <div id="main">
        <div id="language">
            <div id="sweden_flag" onclick="changeBackground(this)">
                <img src="../img/SW.png" width="80%" height="60%">
            </div>
            <div id="uk_flag" onclick="changeBackground(this)">
                <img src="../img/UK.png" width="80%" height="60%">
            </div>
        </div>
        <div id="welcome_intro">
            <h1>THIRSTY</h1><br>
            <h3>enjoy your juice and smoothie</h3>
        </div>
        <button id="enter_button">Start your order</button><br>
        <img src="../img/cccards.png" width="30%">
    </div>
</body>
</html>