<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="../js/kitchen.js" defer></script>
</head>
<body>
    <div class="topBar">
        <h1>THIRSTY</h1>
        <h2>kitchen view</h2>
        <!--<img id="back" src="back_arrow.png" />-->
        <!--<img id="help" src="help.png" />-->
    </div>
    <div id="main">
        <div id="left">
            <div id="order_overview">
                <div id="order_unit" v-for="(item, key) in orders" v-if="!item.done" v-on:click="enter(key)">
                    <h3>Order{{key}}</h3>
                    <table>
                        <tbody>
                            <tr v-for="item in item.drinks">
                                <td>
                                    <b>{{item.name}}</b>
                                </td>
                                <td>
                                    {{item.size}}
                                </td>
                                <td>
                                    {{item.account}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="detailed_order">
                <h3>Order{{ID}}</h3>
                <table>
                    <tbody>
                    <tr v-for="drink in order.drinks">
                        <td>
                            <b>{{drink.name}}</b>
                            <ul v-for="items in drink.ingredients" v-if="drink.ingredients.length">
                                <li v-for="item in items.ingredient">{{item}}</li>
                            </ul>
                        </td>
                        <td>
                            {{drink.size}}
                        </td>
                        <td>
                            {{drink.account}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button id="finished_button" v-on:click="finish()">Done</button>
        </div>
    </div>
</body>
</html>