<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
    <div class="topBar">
        <h1>THIRSTY</h1>
        <h2>kitchen view</h2>
        <!--<img id="back" src="back_arrow.png" />-->
        <!--<img id="help" src="help.png" />-->
    </div>
    <div id="main">
        <div id="left">
            <div id="order_overview">
                <div class="order_unit">
                    <h3>Order#123456</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Orange Juice</b>
                                </td>
                                <td>
                                    S
                                </td>
                                <td>
                                    3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Apple Juice</b>
                                </td>
                                <td>
                                    S
                                </td>
                                <td>
                                    2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>DIY</b>
                                </td>
                                <td>
                                    L
                                </td>
                                <td>
                                    2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order_unit">
                    <h3>Order#123456</h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <b>Orange Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Apple Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>DIY</b>
                            </td>
                            <td>
                                L
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order_unit">
                    <h3>Order#123456</h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <b>Orange Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Apple Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>DIY</b>
                            </td>
                            <td>
                                L
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order_unit">
                    <h3>Order#123456</h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <b>Orange Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Apple Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>DIY</b>
                            </td>
                            <td>
                                L
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order_unit">
                    <h3>Order#123456</h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <b>Orange Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Apple Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>DIY</b>
                            </td>
                            <td>
                                L
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order_unit">
                    <h3>Order#123456</h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <b>Orange Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Apple Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>DIY</b>
                            </td>
                            <td>
                                L
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order_unit">
                    <h3>Order#123456</h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <b>Orange Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Apple Juice</b>
                            </td>
                            <td>
                                S
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>DIY</b>
                            </td>
                            <td>
                                L
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="detailed_order">
                <h3>Order#123456</h3>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <b>Orange Juice</b>
                        </td>
                        <td>
                            S
                        </td>
                        <td>
                            3
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Apple Juice</b>
                        </td>
                        <td>
                            S
                        </td>
                        <td>
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>DIY</b>
                            <ul>
                                <li>Apple</li>
                                <li>Orange</li>
                                <li>Cherry</li>
                            </ul>
                            <ul>
                                <li>Apple</li>
                                <li>Apple</li>
                                <li>Cherry</li>
                            </ul>
                        </td>
                        <td>
                            L
                        </td>
                        <td>
                            2
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button id="finished_button">Done</button>
        </div>
    </div>
</body>
</html>